.hero-draw {
    opacity: 0;
    transition: opacity 3000ms linear;
}

.hero-gradient {
    opacity: 0;
    transition: opacity 3000ms linear 1500ms;
}

.hero-image {
    opacity: 0;
    transition: opacity 3000ms linear 3000ms;
}

.hero-curve {
    opacity: 0;
    transition: opacity 3000ms linear;
}

.hero-opacity {
    opacity: 1;
}
