@import '../styles/menuButton.css';
@import '../styles/text.css';
@import '../styles/hero.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Mono';
  src: url('../../public/fonts/SF-Mono-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro';
  src: url('../../public/fonts/SF-Pro.ttf') format('truetype');
}

@layer base {
  * {
    @apply min-w-0;
  }

  :root {
    --foreground: 0 0% 0%;
    --background: 0 0% 100%;
    --primary: 219.57 100% 63.73%;
    --secondary: 0 0% 94.9%;
    --accent: 21.46 100% 75.88%;
  }

  .dark {
    --foreground: 0 0% 100%;
    --background: 0 0% 0%;
    --primary: 219.57 100% 63.73%;
    --secondary: 0 0% 10.2%;
    --accent: 21.46 100% 75.88%;
  }

  .light-pink {
    --foreground: 0 0% 1.96%;
    --background: 0 0% 98.04%;
    --primary: 220.71 100% 78.04%;
    --secondary: 222 100% 96.08%;
    --accent: 333.77 75.93% 47.25%;
  }

  .dark-pink {
    --foreground: 0 0% 98.04%;
    --background: 0 0% 1.96%;
    --primary: 219.57 100% 63.73%;
    --secondary: 222.35 100% 10;
    --accent: 333.85 76.47% 70%;
  }

  .paddingX {
    @apply px-6 sm:px-11 md:px-16;
  }

  .paddingY {
    @apply py-6 sm:py-11 md:py-16;
  }

  .padding {
    @apply px-6 py-6 sm:px-11 sm:py-11 md:px-16 md:py-16;
  }

  ::-moz-selection {
    @apply bg-accent;
  }

  ::selection {
    @apply bg-accent;
  }

  .icon-path:hover {
    @apply fill-primary;
  }

  .icon-path {
    @apply fill-accent;
  }
}
