@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/menuButton.css';
@import '../styles/text.css';
@import '../styles/hero.css';

@font-face {
  font-family: 'SF-Mono';
  src: url('../../public/fonts/SF-Mono-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro';
  src: url('../../public/fonts/SF-Pro.ttf') format('truetype');
}

:root {
  --color-text: rgba(0, 0, 0, 0);
  --color-background: rgba(0, 0, 0, 0);
  --color-primary: rgba(0, 0, 0, 0);
  --color-secondary: rgba(0, 0, 0, 0);
  --color-accent: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.paddingX {
  @apply px-6 sm:px-11 md:px-16;
}

.paddingY {
  @apply py-6 sm:py-11 md:py-16;
}

.padding {
  @apply px-6 py-6 sm:px-11 sm:py-11 md:px-16 md:py-16;
}

::-moz-selection {
  @apply bg-accent;
}

::selection {
  @apply bg-accent;
}

.icon-path:hover {
  @apply fill-primary;
}

.icon-path {
  @apply fill-accent;
}
