@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/menuButton.css';
@import '../styles/text.css';

@font-face {
  font-family: 'SF-Mono';
  src: url('../../public/fonts/SF-Mono-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro';
  src: url('../../public/fonts/SF-Pro.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.paddingX {
  @apply sm:px-16 px-6;
}

.paddingY {
  @apply sm:py-16 py-6;
}

.padding {
  @apply sm:py-16 sm:px-16 py-6 px-6;
}

::-moz-selection {
  @apply bg-accent;
}

::selection {
  @apply bg-accent;
}

.icon-path:hover {
 @apply fill-primary;
}

.icon-path {
  @apply fill-accent;
}